<head>


</head>

<div class="toolbar" role="banner">

  <img
    width="90"
    alt="{{projectName}}"
    src="{{projectImage}}"
  />
  <h1>{{projectName}}</h1>

    <div class="spacer"></div>

    <div *ngIf="afAuth.user | async as user; else showLogin">
      <p>Hello {{ user.displayName }}</p>
      <button mat-raised-button color="accent" (click)="logout()">Logout</button>
    </div>
    <ng-template #showLogin>
      <form #f="ngForm" (ngSubmit)="login()">

        <mat-form-field style="margin-right: 15px;" >
          <mat-label>Email</mat-label>
          <input matInput required ngModel #emailf="ngModel" id="email" name="email"  type="email" placeholder="Ex. a@a.com" [(ngModel)]="email">
          <mat-error *ngIf="emailf.invalid && (emailf.dirty || emailf.touched)">
            It is required
          </mat-error>
        </mat-form-field>
    
        <mat-form-field style="margin-right: 15px;" >
          <mat-label>Password</mat-label>
          <input matInput required ngModel #passwordf="ngModel" id="password" name="password" type="password" [(ngModel)]="password">
          <mat-error *ngIf="passwordf.invalid && (passwordf.dirty || passwordf.touched)">
            It is required
          </mat-error>
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid" style="margin-right: 10px;" >Login</button>
      </form>

    </ng-template>

</div>

<div class="content" role="main">


  <router-outlet></router-outlet>


</div>
<footer>
  <mat-divider></mat-divider>
  code with love by Rabea 
</footer>


